body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, rgb(244, 6, 6), rgb(0, 128, 0));
    /*Adds gradient background */
}

h1 {
    /*Changes color of headings throughout website*/
    text-align: center;
}

.navbar {
    /*Navbar seen at the top of every page*/
    display: flex;
    /*1a. First Flexbox, makes navbar adjustable*/
    overflow: hidden;
    margin-right: 20px;
}


.navbar a {
    /*Stylizes links on the navbar on every page*/
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:visited {
    color: rgb(15, 0, 128);
    /*Hopefully this makes visited links more visible since it's dark blue against red instead of reddish on red*/
}

a:hover {
    text-decoration: underline;
}

img+p {
    /*Makes paragraphs after images italic, Done to fullfull previous assignment requirment*/
    font-weight: 700;
    font-style: italic;
    opacity: .4;
    margin: 2em;
    /*Margin*/
}

.center {
    margin: auto;
    display: block;
}

p::first-letter {
    /*Satisfied requirement from previous assignment by making the first letter of every paragraph larger*/
    font-size: xx-large;
}

ul,
ol {
    /*Applied to unordered list on Home Page and Intrepid page*/
    line-height: 2em;
    border: 2px solid rgb(0, 128, 0);
    /*Border */
    background-color: #C8DFEE;
}

#copyright {
    /*Copyright symbol at bottom of each page is turned blue*/
    color: #0143bd;
}

/*Media Queries */

@media only screen and (max-width:536px) {

    /*Makes the horizontal navbar on every page into a vertical one if viewed with mobile device*/
    .navbar {
        flex-direction: column;
    }

    img {
        width: 50%;
        /*Keeps images large enough to read on mobile device */
    }
}