body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, rgb(244, 6, 6), rgb(0, 128, 0)); /*3. Gradient */
}

h1{
    color: rgb(55, 58, 241);
    margin: 2em; /*1A. Margin*/
}

img + p{
    font-weight: 700;
    font-style: italic;
    opacity: .4;
    margin: 2em; /*1B. Margin*/
}
div ~ a{
    color: rgba(255, 0, 0, 0.914);
    margin: 2em; /*1C. Margin*/
}

p::first-letter {
    font-size: xx-large;
}

ul, ol {
    line-height: 2em;
    border: 2px solid rgb(0, 128, 0); /* 2. Border */
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#copyright {
    color: #0143bd;
}